
body {
    font-family: "Gloria Hallelujah";
    border: 16px solid black;
    padding: 0;
    margin: 0;
}

#body {
    background-image: url("../images/yin-yang.jpg");
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 48.5%;
    height: 700px;
    padding-top: 6vw;
    display: flex;
    justify-content: space-around;
    position: relative;
}

h1 {
    text-align: center;
    color: #112d4e;
    margin-bottom: 5em;
    background-color: #dbe2ef;
    font-size: 2em;
}

header {
    display: flex;
    justify-content: center;
    position: relative;
    /* background-color: rgba(0, 0, 0, 0.3); */
}


footer {
    display: flex;
    justify-content: space-around;
    background-color: black;
    padding: 1em;
}

footer i {
    font-size: 4vw;
    color: white;
}

footer i:hover {
    color: gray;
}

#sidenav {
    height: 100%;
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #3f72af;
}

.label {
    position: absolute;
    top: 0;
    left: 0.5vw;
    font-size: 0.8em;
}

#grid, #grid2 {
    display: grid;
    /* border: 5px solid black; */
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0.5);
    border: 2.5px solid black;
    box-shadow: 0 3px 6px rgba(0,0,0,0.3), 

}

#grid div, #grid2 div{
    position: relative;
    padding-top: 1.5vw;
    padding-bottom: 1.5vw;
    border: 5px solid black;
    text-align: center;
    cursor: pointer;
    background-color: #fff;
    font-size: 2vw;
    /* outline-bottom: 5px solid black; */
    box-sizing: border-box;
    /* border: 1px solid black; */
}

#grid div:hover {
    background-color: #3f72af;
}

#grid2 div:hover {
    background-color: #3f72af;
}

#game {
    width: 25%;
    height: max-content;
    position: relative;
    border: 15px solid #C7A663;
    border-radius: 10px;
    box-shadow: 0 4px 10px 0 rgba(0,0,0,0.225);

}

#game .player-info {
    background-color: #C7A663;
}

.player-info {
    text-align: center;
    font-weight: bold;
    font-size: 2.5vw;
}
#game2 {
    width: 25%;
    height: max-content;
    /* margin: 0 auto; */
    position: relative;
    border: 15px solid #F7DD9B;
    border-radius: 10px;
    box-shadow: 0 4px 10px 0 rgba(0,0,0,0.225);

}

#game2 .player-info {
    background-color: #F7DD9B;
}

#grid .zero {
    background-color: transparent;
    color: white;
}

#grid .zero:hover {
    background-color: transparent;
    cursor: default;
}

#grid2 .zero:hover {
    background-color: transparent;
    cursor: default;
}

#grid2 .zero {
    background-color: transparent;
    color: white;
}


/* .border {
    max-width: 150%;
    max-height: 185%;
    position: absolute;
    left: -25%;
    top: -40%;
    color: black;
} */

.header-img {
    width: 300x;
    height: 200px;
    overflow: hidden;
    /* position: absolute; */
    /* left: 0;
    top: 0; */

}

.header-img img {
    max-width: 100%;
    max-height: 100%;
}






ul {
    list-style-type: none;
}

h2 {
    text-align: center;
}

.fab {
    font-size: 3vw;
}

#new-game-button {
    position: absolute;
    right: 20px; 
    bottom: 20px;
    width: 13vw;
}

#buttons {
    /* background-color: white; */
    padding: 0;
    position: absolute;
    right: 30px;
    width: 20%;
}



#buttons img:hover {
    filter: invert(1);
    cursor: pointer;
}




#new-game-button:hover {
    filter: invert(1);
    cursor: pointer;
}

img {
    max-width: 100%;
    height: auto;
    width: auto;
}


.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
    font-family: sans-serif;
    border-radius: 10px;
    background-color: #fefefe;
    margin: 15% auto; 
    padding: 40px;
    border: 1px solid #888;
    width: 50%; /* Could be more or less, depending on screen size */
    position: relative;
    font-size: 2vw;
    box-shadow: 0 4px 10px 0 rgba(0,0,0,0.225);
  }

  .modal-content p {
      margin: 0;
  }
  
  /* The Close Button */
  .close {
    color: black;
    position: absolute;
    right: 10px;
    top: 0;
    font-size: 40px;
    font-weight: bold;
    line-height: 40px;
  }
  
  .close:hover,
  .close:focus {
    color: darkgray;
    text-decoration: none;
    cursor: pointer;
  }

  #key-instructions {
      margin-top: 20px;
      display: flex;
      justify-content: space-around;
      align-items: center;
  }

.player-instructions{
    border: 5px solid black;
    border-radius: 5px;
    flex-wrap: wrap;
    padding: 10px;
    height: max-content;
}

.player-instructions div {
    text-align: center;
    margin-bottom: 10px;
}


.hidden {
    display: none;
}


.victory {
	opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 1s;
}

@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}